.card {
    padding: 1rem 1.2rem;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.card-content {
    width: 100%;
}

.card-big-text {
    font-size: 44px;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    padding-left: 30px;
}

.card-small-text {
    font-size: 14px;
}