main {
    background: linear-gradient(180deg, #0a141e 0%, #09131d 50%, #050a11 100%);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section {
    padding: 20px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dashboard-row {
  display: flex;
  gap: 40px;
}

.dashboard-column {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 8px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}